<div class="empty">Nothing Found</div>

	<table id="table" class="items hidden-xs">
	    <tr>
	        <th>Short Name</th>
	        <th>Name</th> 
	        <th>Description</th>
	        <th>Remove Item</th>
	    </tr>
	    <tr ng-repeat="item in list.found">
	        <td id="shortName">{{item.short_name}}</td>
	        <td id="name">{{item.name}}</td>
	        <td id="description">{{item.description}}</td>
	        <td><a ng-click="list.onRemove({index: $index});"><div id="remove">Don't want this</div></a></td>
	    </tr>
	</table>

	<div class="visible-xs list" ng-repeat="item in list.found">
	    <span>Short Name:</span> {{ item.short_name }} <br>
	    <span>Name:</span> {{ item.name }} <br>
	    <span>Description:</span> {{ item.description }} <br>
	    <span>Remove from list: </span><a ng-click="list.onRemove({index: $index});"><span id="icon" class="glyphicon glyphicon-remove"></span></a>
	</div>